*{
    margin:0px;
    padding:0px;
    border:none;
}
.contact nav {
   
   margin-left: 700px;
   margin-top: 60px;

}
.contact nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
   position:relative;
   
   gap:20px;

}
.contact nav ul li{
    font-family: aerial;
    color:rgb(112, 103, 103)

}
.contact nav ul li a{
   text-decoration: none;
}
.pencil{
    width:100;
    height:18vh;
    background: rgb(221, 219, 219);
    margin-top: 50px;
 }
 .pencil h1{
    color:yellowgreen;
    font-weight: 600;
    padding-left: 80%;
    position:relative;
    top:35px;
    font-family: sans-serif;
    
 }
 .contactForm form{
    display:flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 20px;
    gap:20px;
 }
 .contactForm form label{
    display: flex;
    flex-direction: column;
    gap:7px;
 }
 .contactForm form label span{
    font-weight: 600;
 }
 .contactForm form label input{
    border:1px solid rgb(219, 216, 216);
    max-width: 500px;
    padding:10px;
    border-radius: 10px;
    outline-color: blue;
 }
 #msg{
    border:1px solid rgb(219, 216, 216);
    max-width: 500px;
    padding:10px;
    height:20vh;
    border-radius: 10px;

 }
 .contactForm form button{
    width:fit-content;
    padding:20px 40px;
    background: rgb(250, 130, 86);
    color:white;
    font-size: 16px;
    font-weight: 500;
 }
 .card5{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    gap:40px;
    padding:40px;
    padding-bottom:30px ;
    flex-wrap: wrap;
    background: #3a3939;
    color:#fff;
    margin-top: 50px;
    padding-bottom: 80px;
    
 
 
 }
 .card5 .cardb{
    width:250px;
 }
 .card5 .cardb span{
    margin-top: 60px;
 }
 .card5 .cardb ul{
    list-style: none;
 }
 .cardc{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #252525;
    height:60px;
    width:100%;
 }
 .cardc span{
    position:relative;
    left:-400px;
 }
 
 
  
 #main a{

   color:orange;
   font-weight: 500;

}